<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{ title }}</title>
  <meta name="description" content="{{ description }}" />

  {% if original_url %}
  <link rel="canonical" href="{{ original_url }}" />
  <meta http-equiv="refresh" content="0; url={{ original_url }}" />
  {% endif %}

  {% for prop, content in og_info.items() %}
  <meta property="{{ prop }}" content="{{ content }}" />
  {% endfor %}

  <link rel="icon" href="{{ url_for('static', filename='favicon.ico')}}" type="image/x-icon" />
</head>

<body>

</body>

</html>